* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

main {
    position: relative;
    top: -42rem;
    z-index: 999;
}

.header {
    display: flex;
    padding: 2rem;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.card {
    width: 20vw;
    height: 10vw;
    border-radius: 5px;
    border: 2px solid black;
    padding: 30px; 
}

.formElements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="date"], input[type= "submit"] {
    padding: 0 20px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

input[type="date"] {
    background-color: palevioletred;
}

input[type="submit"] {
    background-color: pink;
    cursor: pointer;
    margin-top: 2px;
    border: 2px solid transparent;
    transition: 3px;
}

input[type="submit"]:hover {
    background-color: white;
    border: 2px solid pink;
}

input:focus {
    outline:none;
}


.stage {
    position: relative;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 3rem 0 3rem;
}

div.iconWrapper {
    width: 822px;
    height: 822px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    margin: 0;
    background-color: black;
}

#aquarius {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100%;
    width: 99px;
    height: 99px;
    display: flex;
    left: 361px;
    top: 18px;
}

#aquarius img {
    align-items: center;
    padding: 18px;
}

#aquarius:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}


#pisces {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 533px;
    top: 64px;
}

#pisces:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}

#pisces img {
    align-items: center;
    padding: 18px;
}

#aries {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 658px;
    top: 189px;
}

#aries img {
    align-items: center;
    padding: 18px;
}

#aries:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}


#taurus {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 704px;
    top: 361px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#taurus img {
    align-items: center;
    padding: 18px;
    width: auto;
    height: auto;
}

#taurus:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}


#gemini {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 658px;
    top: 532px;
}

#gemini img {
    align-items: center;
    padding: 18px;
}

#gemini:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}


#cancer {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 533px;
    top: 658px;
}

#cancer img{
    align-items: center;
    padding: 20px;
}

#cancer:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}


#leo {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 361px;
    top: 704px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#leo img {
    align-items: center;
    padding: 20px;
}

#leo:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}


#virgo {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 190px;
    top: 658px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#virgo img {
    align-items: center;
    padding: 22px;
}

#virgo:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}


#libra {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 64px;
    top: 533px;
}

#libra img {
    align-items: center;
    padding: 18px;
}

#libra:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}


#scorpio {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 18px;
    top: 361px;
}

#scorpio img {
    align-items: center;
    padding: 18px;
}

#scorpio:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}

#sagittarius {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 64px;
    top: 190px;
}

#sagittarius img {
    align-items: center;
    padding: 18px;
    justify-content: center;
}

#sagittarius:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}

#capricorn {
    line-height: 100%;
    position: absolute;
    background-color: #D3D3D3;
    border-radius: 100px;
    width: 99px;
    height: 99px;
    display: flex;
    left: 189px;
    top: 64px;
}

#capricorn img {
    align-items: center;
    padding: 18px;
}

#capricorn:hover {
    background: rgb(255,56,144);
    background: linear-gradient(120deg, rgba(255,56,144,1) 0%, rgba(91,21,255,1) 100%);
}

.resultWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2rem 5rem 2rem 5rem;
    flex-direction: column;
    color: white;
}

.zodiacImageCircle {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: flex;
}

.zodiacImageCircle img {
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    outline: none;
}



